apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  type: NodePort
  selector:
    app: inventoryservice
  ports:
    - name: inventoryservice
      protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 31333
